/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: CRABS_DBIMPORT {
        ext.args = "--seq_header accession --delim ' '"
        publishDir = [
            path: { "${params.outdir}/crabs_dbimport" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CRABS_INSILICOPCR {
        ext.args = "--error 4.5 -t 12 --fwd ${params.fw_primer} --rev ${params.rv_primer}"
        publishDir = [
            path: { "${params.outdir}/crabs_insilicopcr" },
            mode: params.publish_dir_mode
        ]
    }

    withName: ART_ILLUMINA {
        ext.args = "-amp -p -na -c 500"
        publishDir = [
            path: { "${params.outdir}/art_illumina" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BOWTIE2_ALIGN {
        ext.args = "--local --very-sensitive-local --mp 32 --rdg 10,8 --rfg 10,8 -k 10000 -f"
        ext.args2 = "-b | samtools sort"
        publishDir = [
            path: { "${params.outdir}/bowtie2" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BOWTIE2_BUILD {
        publishDir = [
            path: { "${params.outdir}/bowtie2" },
            mode: params.publish_dir_mode
        ]
    }

    withName: PBSIM {
        ext.args = "--model_qc"
        publishDir = [
            path: { "${params.outdir}/pbsim" },
            mode: params.publish_dir_mode
        ]
    }

    //withName: SAMPLESHEET_CHECK {
    //    publishDir = [
    //        path: { "${params.outdir}/pipeline_info" },
    //        mode: params.publish_dir_mode,
    //        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //    ]
    //}

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
