/*
 * -----------------------------------------------------------
 *  Nextflow config file for reference databases
 * -----------------------------------------------------------
 * Defines sources and files for reference databases
 * Please also reflect all changes in 'nextflow_schema.json'
 * Each entry requires as a minimum: title, url, citation
 */

params {
    probe_ref_db {
        'Tetrapods-UCE-2.5Kv1' {
            title    = 'Tetrapods; 2,560 baits for 2,386 UCEs; version 1'
            url      = 'https://ndownloader.figshare.com/files/10513876'
            citation = 'Brant C. Faircloth, John E. McCormack, Nicholas G. Crawford, Michael G. Harvey, Robb T. Brumfield, Travis C. Glenn, Ultraconserved Elements Anchor Thousands of Genetic Markers Spanning Multiple Evolutionary Timescales, Systematic Biology, Volume 61, Issue 5, October 2012, Pages 717–726, https://doi.org/10.1093/sysbio/sys004'
        }
        'Tetrapods-UCE-5Kv1' {
            title    = 'Tetrapods; 5,472 baits for 5,060 UCEs; version 1'
            url      = 'https://ndownloader.figshare.com/files/10513882'
            citation = 'Sun Keping, Meiklejohn Kelly A., Faircloth Brant C., Glenn Travis C., Braun Edward L. and Kimball Rebecca T., 2014 The evolution of peafowl and other taxa with ocelli (eyespots): a phylogenomic approach. Proc. R. Soc. B. 281: 20140823. 20140823. http://doi.org/10.1098/rspb.2014.0823'
        }
        'Actinopterygians-0.5Kv1' {
            title    = 'Actinopterygians; 2,001 baits for 500 UCEs; version 1'
            url      = 'https://ndownloader.figshare.com/files/10513885'
            citation = 'Faircloth BC, Sorenson L, Santini F, Alfaro ME (2013) A Phylogenomic Perspective on the Radiation of Ray-Finned Fishes Based upon Targeted Sequencing of Ultraconserved Elements (UCEs). PLOS ONE 8(6): e65923. https://doi.org/10.1371/journal.pone.0065923'
        }
        'Acanthomorphs-1Kv1' {
            title    = 'Acanthomorphs; 2,628 baits for 1,314 UCEs; version 1'
            url      = 'https://ndownloader.figshare.com/files/11188235'
            citation = 'McGee Matthew D., Faircloth Brant C., Borstein Samuel R., Zheng Jimmy, Darrin Hulsey C., Wainwright Peter C. and Alfaro Michael E.. 2016 Replicated divergence in cichlid radiations mirrors a major vertebrate innovation. Proc. R. Soc. B. 283: 20151413. 20151413. http://doi.org/10.1098/rspb.2015.1413'
        }
        'Arachnida-1.1Kv1' {
            title    = 'Arachnida; 14,799 baits for 1,120 UCEs; version 1'
            url      = 'https://ndownloader.figshare.com/files/6042078'
            citation = 'Starrett, J., Derkarabetian, S., Hedin, M., Bryson Jr. R. W., McCormack. J. E., & Faircloth. B. C. (2016). High phylogenetic utility of an Ultraconserved element probe set designed for Arachnida. Molecular Ecology Resources. 17(4), 812-823. https://doi.org/10.1111/1755-0998.12621'
        }
        'Coleoptera-1.1Kv1' {
            title    = 'Coleoptera; 13,674 baits for 1,172 UCEs; version 1'
            url      = 'https://ndownloader.figshare.com/files/6042081'
            citation = 'Baca. S. M., Alexander. A., Gustafson. G. T., & Short. A. E. Z. (2017). Ultraconserved elements show utility in phylogenetic inference of Adephaga (Coleoptera) and suggest paraphyly of Hydradephaga. 42(4), 786-795. https://doi.org/10.1111/syen.12244'
        }
        'Diptera-2.7Kv1' {
            title    = 'Diptera; 31,328 baits for 2,711 UCEs; version 1'
            url      = 'https://ndownloader.figshare.com/files/6042084'
            citation = 'Faircloth. B. C. (2017). Identifying conserved genomic elements and designing universal bait sets to enrich them. Methods in Ecology and Evolution. 8(9), 1103-1112. https://doi.org/10.1111/2041-210X.12754'
        }
        'Hemiptera-2.7Kv1' {
            title    = 'Hemiptera; 40,207 baits for 2,731 UCEs; version 1'
            url      = 'https://ndownloader.figshare.com/files/6042087'
            citation = 'Faircloth. B. C. (2017). Identifying conserved genomic elements and designing universal bait sets to enrich them. Methods in Ecology and Evolution. 8(9), 1103-1112. https://doi.org/10.1111/2041-210X.12754'
        }
        'Hymenoptera-1.5Kv1' {
            title    = 'Hymenoptera; 2,749 baits for 1,510 UCEs; version 1'
            url      = 'https://ndownloader.figshare.com/files/10513873'
            citation = 'Faircloth. B. C., Branstetter. M. G., White. N. D., & Brady. S. G. (2014). Target enrichment of ultraconserved elements from anthropods provides a genomic perspective on elationships among Hymenoptera. Molecular Ecology Resources. 15(3), 489-501. https://doi.org/10.1111/1755-0998.12328'
        }
        'Hymenoptera-2.5Kv2' {
            title    = 'Hymenoptera; 31,829 baits for 2,590 UCEs; version 2'
            url      = 'https://ndownloader.figshare.com/files/7539658'
            citation = 'Branstetter. M. G., Longino. J. T., Ward. P. S., & Faircloth. B. C. (2017). Enriching the ant tree of life: enhanced UCE bait set for genome-scale phylogenetics of ants and other Hymenoptera. 8(6), 768-776. https://doi.org/10.1111.2041-210X.12742'
        }
        'Anthozoa-1.7Kv1' {
            title    = 'Anthozoa; 16,306 baits for 720 UCEs and 1,071 exons; version 1'
            url      = 'https://ndownloader.figshare.com/files/10513894'
            citation = 'Quattrini. A. M., Faircloth. B. C., Duenas. L. F., Bridge. T. C. L., Brugler. M. R., Calixto-Botia. I. F., DeLeo. D. M., Foret. S., Herrera. S., Lee. S. M. Y., Miller. D. J., Prada. C., Radis-Baptista. G., Ramirez-Portilla. C., Sanchez. J. A., Rodriguez. E., & McFadden. C. S. (2017). Universal target-enrichment baits for anthozoan (Cnidaria) phylogenomics: New approaches to long-standing problems. Molecular Ecology Resources. 18(2), 281-295. https://doi.org/10.1111/1755-0998.12736'
        }
    }
}
