/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/readsimulator -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input  = 'https://raw.githubusercontent.com/nf-core/test-datasets/readsimulator/samplesheet/test_samplesheet.csv'
    fasta  = 'https://raw.githubusercontent.com/nf-core/test-datasets/readsimulator/testdata/GCF_024334085.1_ASM2433408v1_genomic.fna.gz'

    amplicon              = true
    metagenome            = true
    target_capture        = true
    wholegenome           = true

    amplicon_fw_primer    = 'AAAATAAT'
    amplicon_rv_primer    = 'GATTACTTT'
    amplicon_read_count   = 1000
    metagenome_n_reads    = '100K'
    probe_ref_name        = 'Diptera-2.7Kv1'
}
